<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags">

<h:head>
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
</h:head>
<h:body>
    <style type="text/css">
        .ui-datatable .ui-datatable-header {
            text-align: right !important;
        }

        .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
            display: none;
        }
    </style>

    <h:form>
        <p:growl id="messages"/>

        <p:menubar>
            <p:menuitem value="Taskmanager" url="#"/>

            <p:menuitem value="Tasks" url="tasks.xhtml"/>

            <p:menuitem value="Projects" url="projects.xhtml"/>

            <sec:authorize access="hasRole('ADMIN')">
                <p:menuitem value="Users" url="users.xhtml"/>
            </sec:authorize>

            <f:facet name="options">
                <p:commandButton type="button" value="Logout" icon="pi pi-home" />
            </f:facet>
        </p:menubar>
    </h:form>

    <div style="padding-left: 10%;
                padding-right: 10%;
                align-content: center;
                text-align: center;
                margin-top: 7%">

        <h:form id="form">
            <p:dataTable id="tableStateDT" var="project" value="#{projectController.projects}" widgetVar="projectsTable" multiViewState="true"
                         rows="10" paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         selectionMode="single" selection="#{projectController.selectedProject}" rowKey="#{project.id}"
                         emptyMessage="No projects found with given criteria" filteredValue="#{projectController.filteredProjects}">
                <f:facet name="header">
                    <p:outputPanel style="text-align: center">
                        <h:outputText value="Project list" style="font-size: larger"/>
                    </p:outputPanel>
                    <p:outputPanel style="display: flex; justify-content: space-between">
                        <div style="display: flex; justify-content: flex-start">
                            <p:commandButton update=":projectEditDetail"
                                             value="Add Project"
                                             oncomplete="PF('projectEditDialog').show()"
                                             style="margin-right:20px;">

                                <f:actionListener binding="#{projectController.setEditingProject(projectController.addingProject)}"/>
                                <f:actionListener binding="#{projectController.setProjectAction('Project add')}"/>
                            </p:commandButton>
                        </div>
                        <div style="display: flex; justify-content: flex-end; align-items: center">
                            <h:outputText value="Search all fields:"/>
                            <p:inputText id="globalFilter" onkeyup="PF('projectsTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                        </div>
                    </p:outputPanel>
                </f:facet>

                <p:ajax event="rowSelect" update=":form:projectDetail" oncomplete="PF('projectDialog').show()" />

                <p:column headerText="Name" filterBy="#{project.name}" sortBy="#{project.name}" filterMatchMode="startsWith">
                    <h:outputText value="#{project.name}" />
                </p:column>

                <p:column headerText="Start date" filterBy="#{project.startDate}" sortBy="#{project.startDate}" filterMatchMode="startsWith">
                    <h:outputText value="#{project.startDate}" >
                        <f:convertDateTime pattern="dd.MM.yyyy" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Finish date" filterBy="#{project.finishDate}" sortBy="#{project.finishDate}" filterMatchMode="startsWith">
                    <h:outputText value="#{project.finishDate}" >
                        <f:convertDateTime pattern="dd.MM.yyyy" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Status" filterBy="#{project.status}" sortBy="#{project.status}" filterMatchMode="exact">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('projectsTable').filter()" style="width:100%; box-sizing: border-box;" >
                            <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItems value="#{projectController.statuses}" />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{project.status}" />
                </p:column>
                <p:column headerText="Actions">
                    <h:outputText value="#{projectController.setRemovingProject(project)}" style="display: none"/>
                    <p:commandButton icon="pi pi-pencil" style="margin-right:20px;" title="Edit project"
                                     update=":projectEditDetail"
                                     oncomplete="PF('projectEditDialog').show()">
                        <f:actionListener binding="#{projectController.setEditingProject(project)}"/>
                        <f:actionListener binding="#{projectController.setProjectAction('Project edit')}"/>
                    </p:commandButton>
                    <p:commandButton action="#{projectController.deleteProject()}"
                                     icon="pi pi-times"
                                     title="Delete project"/>
                </p:column>
            </p:dataTable>

            <p:dialog header="Project Info" widgetVar="projectDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="projectDetail" style="text-align:center;">
                    <p:panelGrid columns="2" rendered="#{not empty projectController.selectedProject}" columnClasses="label,value">
                        <f:facet name="header">
                            <h:outputText value="#{project.name}" />
                        </f:facet>

                        <h:outputText value="id:" />
                        <h:outputText value="#{projectController.selectedProject.id}" />

                        <h:outputText value="Name:" />
                        <h:outputText value="#{projectController.selectedProject.name}" />

                        <h:outputText value="Description:" />
                        <h:outputText value="#{projectController.selectedProject.description}" />

                        <h:outputText value="startDate" />
                        <h:outputText value="#{projectController.selectedProject.startDate}" >
                            <f:convertDateTime pattern="dd.MM.yyyy" />
                        </h:outputText>

                        <h:outputText value="FinishDate" />
                        <h:outputText value="#{projectController.selectedProject.finishDate}" >
                            <f:convertDateTime pattern="dd.MM.yyyy" />
                        </h:outputText>
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>
    </div>

    <p:dialog widgetVar="projectEditDialog" modal="true" showEffect="fade" resizable="false">
        <f:facet name="header">
            <h:outputText value="Action"/>
        </f:facet>
        <p:outputPanel id="projectEditDetail" style="text-align:center;">
            <p:panelGrid  columns="2" columnClasses="label,value">
                <f:facet name="header">
                    <h:outputText value="#{projectController.projectAction}" />
                </f:facet>
                <h:form>
                    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                        <p:outputLabel for="name" value="Name:" />
                        <p:inputText id="name" value="#{projectController.editingProject.name}" />

                        <p:outputLabel for="description" value="Description:" />
                        <p:inputText id="description" value="#{projectController.editingProject.description}" />

                        <p:outputLabel for="startDate" value="Start date:" />
                        <p:calendar id="startDate" value="#{projectController.editingProject.startDate}" showOn="button" />

                        <p:outputLabel for="finishDate" value="Finish date:" />
                        <p:calendar id="finishDate" value="#{projectController.editingProject.finishDate}" showOn="button" />

                        <p:outputLabel for="status" value="Status:" />
                        <p:selectOneMenu id="status" value="#{projectController.editingProject.status}" >
                            <f:selectItems value="#{projectController.statuses}" />
                        </p:selectOneMenu>
                    </h:panelGrid>

                    <p:commandButton action="#{projectController.updateProject()}" value="Submit" icon="pi pi-check"/>
                </h:form>
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
</h:body>
</html>