<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags">

<h:head>
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
</h:head>
<h:body>
    <style type="text/css">
        .ui-datatable .ui-datatable-header {
            text-align: right !important;
        }

        .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
            display: none;
        }
    </style>

    <h:form>
        <p:growl id="messages"/>

        <p:menubar>
            <p:menuitem value="Taskmanager" url="#"/>

            <p:menuitem value="Tasks" url="tasks.xhtml"/>

            <p:menuitem value="Projects" url="projects.xhtml"/>

            <sec:authorize access="hasRole('ADMIN')">
                <p:menuitem value="Users" url="users.xhtml"/>
            </sec:authorize>

            <f:facet name="options">
                <p:commandButton type="button" value="Logout" icon="pi pi-home" action="/logout"/>
            </f:facet>
        </p:menubar>
    </h:form>

    <div style="padding-left: 10%;
                padding-right: 10%;
                align-content: center;
                text-align: center;
                margin-top: 7%">

        <h:form id="form">
            <p:dataTable id="tableStateDT" var="task" value="#{taskController.tasks}" widgetVar="tasksTable" multiViewState="true"
                         rows="10" paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         selectionMode="single" selection="#{taskController.selectedTask}" rowKey="#{task.id}"
                         emptyMessage="No projects found with given criteria" filteredValue="#{taskController.filteredTasks}">
                <f:facet name="header">
                    <p:outputPanel style="text-align: center">
                        <h:outputText value="Task list" style="font-size: larger"/>
                    </p:outputPanel>
                    <p:outputPanel style="display: flex; justify-content: space-between">
                        <div style="display: flex; justify-content: flex-start">
                            <p:commandButton update=":taskEditDetail"
                                             value="Add Task"
                                             oncomplete="PF('taskEditDialog').show()"
                                             style="margin-right:20px;">

                                <f:actionListener binding="#{taskController.setEditingTask(taskController.addingTask)}"/>
                                <f:actionListener binding="#{taskController.setTaskAction('Task add')}"/>
                            </p:commandButton>
                        </div>
                        <div style="display: flex; justify-content: flex-end; align-items: center">
                            <h:outputText value="Search all fields:"/>
                            <p:inputText id="globalFilter" onkeyup="PF('tasksTable').filter()" style="width:150px" placeholder="Enter keyword"/>
                        </div>
                    </p:outputPanel>
                </f:facet>

                <p:ajax event="rowSelect" update=":form:taskDetail" oncomplete="PF('taskDialog').show()" />

                <p:column headerText="Name" filterBy="#{task.name}" sortBy="#{task.name}" filterMatchMode="startsWith">
                    <h:outputText value="#{task.name}" />
                </p:column>

                <p:column headerText="Start date" filterBy="#{task.startDate}" sortBy="#{task.startDate}" filterMatchMode="startsWith">
                    <h:outputText value="#{task.startDate}" >
                        <f:convertDateTime pattern="dd.MM.yyyy" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Finish date" filterBy="#{task.finishDate}" sortBy="#{task.finishDate}" filterMatchMode="startsWith">
                    <h:outputText value="#{task.finishDate}" >
                        <f:convertDateTime pattern="dd.MM.yyyy" />
                    </h:outputText>
                </p:column>

                <p:column headerText="Status" filterBy="#{task.status}" sortBy="#{task.status}" filterMatchMode="exact">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('tasksTable').filter()" style="width:100%; box-sizing: border-box;" >
                            <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItems value="#{taskController.statuses}" />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{task.status}" />
                </p:column>
                <p:column headerText="Actions">
                    <h:outputText value="#{taskController.setRemovingTask(task)}" style="display: none"/>
                    <p:commandButton icon="pi pi-pencil" style="margin-right:20px;" title="Edit task"
                                     update=":taskEditDetail"
                                     oncomplete="PF('taskEditDialog').show()">
                        <f:actionListener binding="#{taskController.setEditingTask(task)}"/>
                        <f:actionListener binding="#{taskController.setTaskAction('Task edit')}"/>
                    </p:commandButton>
                    <p:commandButton action="#{taskController.deleteTask()}"
                                     icon="pi pi-times"
                                     title="Delete task"/>
                </p:column>
            </p:dataTable>

            <p:dialog header="Task Info" widgetVar="taskDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="taskDetail" style="text-align:center;">
                    <p:panelGrid columns="2" rendered="#{not empty taskController.selectedTask}" columnClasses="label,value">
                        <f:facet name="header">
                            <h:outputText value="#{task.name}" />
                        </f:facet>

                        <h:outputText value="id:" />
                        <h:outputText value="#{taskController.selectedTask.id}" />

                        <h:outputText value="Name:" />
                        <h:outputText value="#{taskController.selectedTask.name}" />

                        <h:outputText value="Description:" />
                        <h:outputText value="#{taskController.selectedTask.description}" />

                        <h:outputText value="startDate" />
                        <h:outputText value="#{taskController.selectedTask.startDate}" >
                            <f:convertDateTime pattern="dd.MM.yyyy" />
                        </h:outputText>

                        <h:outputText value="FinishDate" />
                        <h:outputText value="#{taskController.selectedTask.finishDate}" >
                            <f:convertDateTime pattern="dd.MM.yyyy" />
                        </h:outputText>
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>
    </div>

    <p:dialog widgetVar="taskEditDialog" modal="true" showEffect="fade" resizable="false">
        <f:facet name="header">
            <h:outputText value="Action"/>
        </f:facet>
        <p:outputPanel id="taskEditDetail" style="text-align:center;">
            <p:panelGrid  columns="2" columnClasses="label,value">
                <f:facet name="header">
                    <h:outputText value="#{taskController.taskAction}" />
                </f:facet>
                <h:form>
                    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                        <p:outputLabel for="name" value="Name:" />
                        <p:inputText id="name" value="#{taskController.editingTask.name}" />

                        <p:outputLabel for="description" value="Description:" />
                        <p:inputText id="description" value="#{taskController.editingTask.description}" />

                        <p:outputLabel for="startDate" value="Start date:" />
                        <p:calendar id="startDate" value="#{taskController.editingTask.startDate}" showOn="button" />

                        <p:outputLabel for="finishDate" value="Finish date:" />
                        <p:calendar id="finishDate" value="#{taskController.editingTask.finishDate}" showOn="button" />

                        <p:outputLabel for="status" value="Status:" />
                        <p:selectOneMenu id="status" value="#{taskController.editingTask.status}" >
                            <f:selectItems value="#{taskController.statuses}" />
                        </p:selectOneMenu>

                        <p:outputLabel for="project" value="Project:" />
                        <p:selectOneMenu id="project" value="#{taskController.editingTask.projectId}" >
                            <f:selectItems value="#{taskController.projects}" />
                        </p:selectOneMenu>
                    </h:panelGrid>

                    <p:commandButton action="#{taskController.updateTask()}" value="Submit" icon="pi pi-check"/>
                </h:form>
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
</h:body>
</html>